<a routerLink="products/{{productInfo.id}}">
  <div class="card product-card h-100 d-flex flex-column " >
    <img src="../../../../../../../assets/images/products/shoes.png" class="card-img-top" alt="...">
    <div class="card-body d-flex flex-column">
      <h1 class="card-title">{{productInfo?.title}}</h1>
      <p class="card-price">{{productInfo?.price | currency}}</p>
      <p class="card-desc">{{productInfo?.description}}</p>
      <a href="#" class="btn btn-primary add-btn">Add to cart</a>
    </div>
  </div>
</a>

