


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$simple-store-primary: mat.define-palette(mat.$indigo-palette);
$simple-store-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$simple-store-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$simple-store-theme: mat.define-light-theme((
  color: (
    primary: $simple-store-primary,
    accent: $simple-store-accent,
    warn: $simple-store-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($simple-store-theme);

// Bootstrap ^5

// fonts
@import './app/shared/styles/fonts.scss';

/* You can add global styles to this file, and also import other style files */



.rtl {
  @import './app/shared/styles/themes/_ar';
}
.ltr {
  @import './app/shared/styles/themes/_en';
}

//app style
@import './app/shared/styles/index' ;



:root {
  font-size: 10px;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'roboto', sans-serif ;

}
.direction-ltr {
  direction: ltr;
  unicode-bidi: bidi-override;
}
.direction-rtl {
  direction: rtl;
  unicode-bidi: bidi-override;
}
html, body { height: 100%; }

body {
  font-size: 1.2rem;
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 0 !important;
}

a{
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}


// media query
@media (max-width:768px) {
  a,p,div,li,button {
    font-size: 1.4rem;
  }
}


.mdc-data-table__table,.mat-mdc-cell, .mdc-data-table__cell {
  max-width: 220px!important;

}
@media screen and (max-width: 960px) {

  .mdc-data-table__content {
      display: table-caption;
    thead {
      display: none !important;
    }
      tr {
          display: flex;
          flex-direction: column;
          height: auto !important;
          margin-block: toRem(10);
          border: 1px solid
      }
      td {
        padding-block: toRem(10);
      }
      
  }
  .mdc-data-table__table,.mat-mdc-cell, .mdc-data-table__cell {
    max-width: 100% !important;
  }
}


